build --java_language_version=17 --java_runtime_version=17

# delete testdata package needed for bazel integration tests
build --deleted_packages=//aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/testdata
query --deleted_packages=//aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/testdata

common --enable_bzlmod

build --action_env=PATH=/opt/rh/devtoolset-10/root/usr/bin:/opt/rh/rh-python36/root/usr/bin:/bin:/usr/bin:/usr/local/bin
build --action_env=LD_LIBRARY_PATH=/opt/rh/devtoolset-10/root/usr/lib64:/opt/rh/devtoolset-10/root/usr/lib:/opt/rh/devtoolset-10/root/usr/lib64/dyninst:/opt/rh/devtoolset-10/root/usr/lib/dyninst:/opt/rh/devtoolset-10/root/usr/lib64:/opt/rh/devtoolset-10/root/usr/lib
build --host_action_env=PATH=/opt/rh/devtoolset-10/root/usr/bin:/opt/rh/rh-python36/root/usr/bin:/bin:/usr/bin:/usr/local/bin
build --host_action_env=LD_LIBRARY_PATH=/opt/rh/devtoolset-10/root/usr/lib64:/opt/rh/devtoolset-10/root/usr/lib:/opt/rh/devtoolset-10/root/usr/lib64/dyninst:/opt/rh/devtoolset-10/root/usr/lib/dyninst:/opt/rh/devtoolset-10/root/usr/lib64:/opt/rh/devtoolset-10/root/usr/lib
